@smallSpace: 4px;
@normalSpace: 16px;
.view {
  .row {
    text-align: right;

    .col {
      display: inline-block;
      vertical-align: middle;
      width: 30%;
      margin: @smallSpace;
    }

    .btn {
      margin: @smallSpace;
      background: #88B5FF;
    }
  }

  .table {
    margin: @smallSpace 0;
  }
}
