@import '~@/theme/common';
.selectBox{
    display: block;
    min-height: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top-width: 1.02px;
    border-radius: 4px;
    outline: none;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .tagList{
        position: relative;
        display: block;
        margin-right: 11px;
        margin-left: 11px;
        line-height: 30px;
    }
}
.container {
    position: relative;
}
.overlayClassName {
    max-height: 300px;
    overflow: auto;
    margin-top: 20px;
}
.searchIcon {
    position: absolute;
    top: 50%;
    right: -2px;
    z-index: 2;
    margin-top: -13px;
    background: #fff;
}
.clearIcon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    margin-top: -13px;
    background: #fff;
}
.input:hover .clearIcon {
    z-index: 100;
}
.spin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
