.checkboxGroup{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.ageInput{
    width: 100px;
    height:24px;
    font-size: 12px;
}
.line{
    display: inline-block;
    width: 10px;
    height: 1px;
    margin: 0 5px;
    background: #979797;
}
.tailNode{
    margin-left: 10px;
}
