.titleRow {
    display: flex;
    padding: 28px 27px 0 17px;
    justify-content: space-between;
    .title {
        font-size:16px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(44,63,83,1);
        line-height:22px;
    }
    .headerButton {
        margin-right: 30px;
    }
}