@import '../../../../../theme/common';
.btnCls {
    padding: 4px 0;
    .iconCls {
        color: #8c97a3;
    }
}
.menusContainer {
  margin-top: 12px;
  width: 154px;
  border: none;;
  border-radius:4px;
  .menus {
      width: 154px;
      .menu {
          width: 154px;
          font-size: @textFontGen;
          color: #8c97a3;

          &:hover {
              color: @primaryColor;
          }
      }
  }
}