.taskTitle{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    flex: 1;
    .titleInput{
font-size: 18px;
color: #8C97A3FF;
font-weight:500;
border: none;
padding-top: 0;
padding-left:0;
resize: none;
    }
    .finishStyle{
        text-decoration: line-through;
    }
}