.pageWrap{
    display: flex;
    justify-content:flex-end;
    .btnCls{
        margin: 41px 6px 0;
        width:46px;
        height:30px;
        line-height:30px;
        text-align: center;
        background:rgba(249,251,255,1);
        border-radius:2px;
        color:#7A8B98;
        cursor: pointer;
    }
}
