@import "~@/theme/common";

.menuList{
    padding: 16px 0 16px 0;
      font-size: 14px;
      text-align: left;
      :global(.ant-menu) {
          background: transparent;
      }
      :global .ant-menu-inline {
          border: none;
      }
      :global(.ant-menu-sub.ant-menu-inline > .ant-menu-item) {
          margin: 0;
      }
      :global(.ant-menu-item > a) {
          color: @textGeneralColor;
      }
      :global(.ant-menu-item > a:hover) {
          color: @primaryColor;
      }
      :global(.ant-menu-item-selected > a) {
          color: @primaryColor;
      }
      :global(.ant-menu-item-selected > a:hover) {
          color: @primaryColor;
      }
      .menuItem{
          width: 100%;
          height: 58px;
          display: flex;
          align-items: center;
          flex-flow: row;
          flex: 1;
         
          :global {
              .ant-badge-count {
            right: 4px;
            top: 6px;
            transform: scale(0.85) translate(50%, -75%);
            transition-duration: 0;
            background: #ff5b57;
            box-shadow: none;
        }
        .ant-badge-multiple-words {
            padding: 0px 6px;
        }
    }
          .avatar{
              margin-right: 8px;
              margin-top: -5px;
          }
          .metaContent{
              width: 223px;
              height: 100%;
              display: flex;
              flex-flow: column;
              align-items: flex-start;
              justify-content: center;
              flex: 1 0;
              .metaContentTitle{
                  position: relative;
                  width: 100%;
                  font-size:14px;
                  color:rgba(44,63,83,1);
                  line-height: 20px;
                  .time{
                      position: absolute;
                      top: 0;
                      right: 0;
                      color:rgba(140,151,163,1); 
                      font-size: 12px;
                  }
              }
              .metaContentDes{
width: 100%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-size:12px;
color:rgba(140,151,163,1);
line-height: 20px;
              }
          }
      }
}