.projectContainer{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    .dropDownCls{
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
        cursor: pointer;
        .timeIntervalFlagName{
            padding-right: 10px;
        }
    }
}
.fileTitle {
    font-size: 16px;
}
.fileContent {
    margin-top: 20px;
    color: #5a6876;
}
.settingName{
    margin-left: 1px;
    margin-right: 10px;
    color:#5A6876FF,
}
.icon{
    color: #8C97A3FF !important  
}
