.inputCls {
    :global(.ant-dropdown-menu-item:hover){
background-color: #fff;
    }
    :global(.ant-input-affix-wrapper .ant-input) {
        width: 290px;
        height: 30px;
        border-radius: 15px;
        border: 1px solid rgba(227, 228, 232, 1);
    }
    :global(.ant-input-affix-wrapper .ant-input:focus) {
        width: 288px;
    }
}
.item{
   padding: 0;
}
.bimenu {
    max-height: 500px;
    overflow-y: auto;
}
.cardCls {
    width: 248px;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin: 10px 15px;
    cursor: pointer;
}
.noData {
    margin-top: 30px;
}
.wrapUl {
    position: relative;
    background: #fff;
    width: 288px;
    min-height: 500px;
    height: calc(100vh - 200px);
    padding: 8px 12px;
    overflow: auto;
}
.loading {
    display: flex;
    justify-content: center;
}
