.wrap{
    padding: 0 24px;
    .wrapTit{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mr12{
            margin-right: 12px;
        }
    }
    .bitable{
        margin-top: 20px;
    }
}
.mr20{
    margin-right: 20px;
}

