.detailBox {
    margin-bottom: 15px;
    .ant-radio-wrapper {
        margin-right: 40px !important;
    }
}
.detailTitle {
    font-weight: bold;
    color: #2c3f53;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}
