.wrap{
    background: #fff;
    padding: 0 18px;
    margin-bottom: 10px;
    .titleWrap{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #2C3F53;
        // border-bottom: 1px solid #eee;
        .titleCls{
            font-size:16px;
            font-family:PingFangSC-Regular,PingFangSC;
            font-weight:500;
        }
        .selectCls{
            width: 786px;
            display: flex;
            justify-content: space-between;
        }
    }
    .associationSearch{
        width: 250px;
    }
    .contentWrap{
        min-height: 200px;
        text-align: center
    }
}
