.wrap {
    display: flex;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    background: #f9f9f9;
}
.itemWrap {
    width: 42px;
    margin-bottom: 0;
    .imgIcon {
        border-radius: 50%;
    }
    .userNameCls {
        font-size: 12px;
        word-break: break-all;
        text-align: center;
        width: 43px;
        height: 32px;
        line-height: 14px;
    }
}
.fileTitle {
    font-size: 16px;
}
.fileContent {
    margin-top: 20px;
    color: #5a6876;
}
