.panelWrap{
    width: 100%;
}
.foolter{
    display: flex;
    justify-content: center;
    align-items: center;
    .addBtns{
        color:rgba(92,153,255,1);
        font-size:12px;
        cursor: pointer;
    }
}
.statisticsLabel{
    float: right;
    padding-right: 10px;
    color: #2C3F53;
}
.statisticsValue{
    color:#F78C00FF;
    font-size: 18px;
}



.formItem{
    .itemBtn{
        float: right;
        color: #5C99FFFF;
        font-size:14px;
        cursor: pointer;
    }
   
}