@import '~@/theme/common';

.approvalContainer {
    width: 20px;
    cursor: pointer;
    .approvalIcon {
        color: @otherBgColor;
        &.locked {
            color: @textSupplyColor;
        }
    }
}
