
.dateWrap{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    display: flex;
    align-items: center;
}
.dateWord{
    padding: 0 10px;
    border-radius: 20px;
}