.memberContainer{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    .people{
        display: flex;
        align-items: center;
        width: 42px;
        margin-right: 6px;
    }
    .memberItem{
        height: 100%;
        display: flex;
    flex-flow: row;
    justify-content: flex-start;
    flex: 1; 
    }
}