.menu {
    top: 10px;
    :global(.anticon) {
      margin-right: 8px;
    }
    :global(.ant-dropdown-menu-item) {
      width: 130px;
    }
    .icon{
      width: 14px;
      height: 14px;
    }
  }