.tableCol{
    width:100%;
}
.tipCls{
    font-size: 12px;
    color: #7099FE;
    position: relative;
    top: 7px;
  height: 20px;
  line-height: 12px;
}
.btnWrap{
    width: 100%;
    text-align: right;
    .btn {
        margin-left: 10px;
        color: #639DFF;
        border-color: #639dff;
        background: #fff;
        .addIconCls{
          font-size: 18px;
          margin-right: 6px;
        }
    }
}
