@import '~@/theme/common';
.exportContainer {
    margin: 0;
    float: none !important;

    .btn {
        display: flex;
        align-items: center;
        margin-left: 10px;

        .icon {
            width: 12px;
        }

        .text {
            margin-left: 4px;
            font-size: 14px;
        }
    }
}
.menuIcon {
    color: white;
}
.selfModal {
    :global(.ant-modal-body) {
        padding: 0;
    }
}
