@import "../../../../../../../theme/detailPage";
.detailPage1{
  padding: 16px 20px;
}
.tit{
  font-size:16px;
  // font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(44,63,83,1);
  padding: 20px 0 8px;
  border-bottom: 1px solid #ECECEC;
}
.m20{
  margin: 20px 0;
}
.btn{
  font-size:14px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:@primaryColor;
  cursor: pointer;
}
