@import '~@/theme/common';
.table {
    background: #f9f9f9;
    height: calc(100vh - 92px);
    display: flex;
    flex-direction: column;
    flex: 1;
}
.innerTable{
    flex: 1;
    overflow: auto;
}
.loading {
    margin-top: 0 !important;
}
.paginationContainer {
    text-align: right;
    //margin-top: @marginGen !important;
    padding: @paddingGen;
}
