@import "../config.less";

:global .BITabs {
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
    //color:@base-green;
  }
  .ant-tabs-nav .ant-tabs-tab{
    padding: 0 0 5px;
  }
  .ant-tabs-nav .ant-tabs-tab:not(:last-child){
    margin-right: 20px;
  }
  .ant-tabs-nav .ant-tabs-tab:hover{
    //color:@base-green;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    //color: @base-green;
  }
  .ant-tabs-bar{
    margin-bottom: 20px;
    width: 140px
  }
  .ant-tabs-ink-bar {
    //background-color: @base-green;
    // width: 30px!important;
    // left: 40px;
  }
}


