.wrap{
  padding: 20px 15px; 
  background: #fff;
  .title{
    // margin-bottom: 10px;
    font-size: 16px;
    color: #2C3F53;
    .iconCls{
      display: inline-block;
      margin-right: 7px;
      width:8px;
      height:8px;
      background: #F7B500;
      border-radius: 50%;
    }
  }
  .delTitle{
    text-decoration: line-through;
    color: #8C97A3;
  }
  .content{
    .itemWrap{
      margin-top: 14px;
      .itemTitle{
        
        color: #8C97A3;
        font-size: 14px;
      }
      .itemContent{
        color: #2C3F53;
        padding-top: 6px;
      }
    }
  }
}
.delWrap{
  background: #F5F5F5;
  .title{
    text-decoration: line-through;
    color: #8C97A3;
  }
}