@import "~@/theme/common";

.popContainer {
    width: 300px;

    .item {
        display: inline-block;
        margin: 5px;
    }
}

.tagList {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.item {
    margin-right: 10px;
    color: rgba(0, 0, 0, 1);
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    height: 24px;
    padding: 0 10px;
    line-height: 24px;
    font-size: 14px;
    cursor: default;
    opacity: 1;
    -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
    transition: all .3s cubic-bezier(.78, .14, .15, .86);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-child {
        margin-right: 0;
    }
}

.itemBgTxt {
    width: 100%;
    position: relative;
}

.moreBtn {
    font-size: @textFontSm;
    white-space: nowrap;
    background: rgba(233, 238, 249);
    border-radius: 7px;
    color: @textGeneralColor;
    margin-bottom: -@marginLg;
    width: 30px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
