@import '~@/theme/common';
.pageWrap {
    display: flex;
    justify-content: flex-end;
    .btnCls {
        margin: 41px 6px 0;
        width: 46px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #fbfbfb;
        border-radius: @borderRadius;
        color: @textGeneralColor;
        cursor: pointer;
        &:hover {
            border: 1px solid @primaryColor;
            color: @primaryColor;
        }
        &.disabled {
            cursor: not-allowed;
            &:hover {
                border: none;
                color: @textSupplyColor;
            }
        }
    }
}
