@import '../../../../../theme/common';
@import '~@/theme/tableOperateBtn';
.searchCol {
    width: 320px !important;
}
.dateRangeCls {
    width: 230px !important;
}
// :global(#search_view_clauseFinalizedStatus .ant-checkbox-wrapper) {
//     width: auto !important;
// }
// :global(#search_view_handleStatus .ant-checkbox-wrapper) {
//     width: auto !important;
// }
:global(#search_view_clauseSigningWay .ant-checkbox-wrapper) {
    width: auto !important;
}
// search_view_clauseFinalizedStatus
