@import '~@/theme/common';
.container {
    width: 60%;
    margin: 120px auto;
    text-align: center;
    .icon {
        width: 94px;
    }
    .tip {
        font-size: @textFontLg;
        color: @textPrimaryColor;
        margin-top: @marginLgX;
    }
    .btnContainer {
        margin-top: 75px;
        display: flex;
        justify-content: center;
        .btnCls{
            margin: @marginGen;
        }
    }
}
