.datePanel{
    width: 1px;
   height: 1px;
   overflow: hidden;
   :global .ant-calendar-picker{
       height:0 !important;
   }
}
.popPanel{
    :global .ant-popover-inner-content{
        padding: 0;
    }
}
.dateButton{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    .startTime{
        color: #5A6876FF;
        background: #FAFAFAFF;
        border-radius: 25px;
        padding:8px 16px;
        .startIcon{
            color: #919EA9FF;
            margin-right: 5px;
        }
    }
    .timeLine{
        margin: 0 5px;
        color: #8C97A3FF;
    }
    .endTime{
        background: #FAFAFAFF;
        border-radius: 25px;
        padding:8px 16px;
        color: #5A6876FF;
        .endIcon{
            margin-right: 5px;
        }
    }
    .overDueStyle{
        color: #EC6D68FF;
        .startIcon{
            color: #EC6D68FF
        }
    }
    .empty{
        padding: 0 20px;
    }

}
.emptyIcon{
    font-size: 26px;
}
.clearIcon {
    display: none;
    position: absolute;
    top: 0px;
   right: 0;
    width: 14px;
    cursor: pointer;
}
.dateButton:hover .clearIcon {
    display: block;
}
.disabledIcon{
    cursor: not-allowed !important
}