@import '~@/theme/common';
.container {
    display: flex;
    .leftContainer {
        width: 214px;
        border-right: 1px solid @borderColor;
    }
    .rightContainer {
        flex: 1;
    }
}
