@import '../../../../../../theme/detailPage';

.detailBox {
    padding: 16px 0;
}
.changePayInfoBox {
    margin-bottom: 20px;
    > span {
        display: inline-block;
        width: 180px;
        &:first-child {
            text-align: right;
        }
        > i {
            color: #ff5363;
            font-style: normal;
            margin-right: 5px;
            display: inline-block;
        }
    }
    .changePayInfoTerm {
        width: 300px;
    }
}
