@import '~@/theme/common';
.exportContainer {
    margin: 0;
    float: none !important;

    .btn {
        display: flex;
        align-items: center;
        margin-left: @marginGen;

        .icon {
            width: 12px;
        }

        .text {
            margin-left: @marginSmX;
            font-size: @textFontGen;
        }
    }
}
.addContact {
    padding: @paddingLg;
    color: @primaryColor;
    font-size: @textFontGen;
    cursor: pointer;
    .addIcon {
        margin-right: @marginSmX;
    }
}
