.container{
    width:100%;
 height:100%;
background:#f9f9f9;
:global(.ant-radio-group){
    width: 100%
}
}
.panleBox{
    width:815px;
    min-height: calc(100vh - 80px);
    margin: 0 auto;
    padding: 40px 20px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1);
    border-radius:3px;
    .item{
      margin-bottom: 20px;
    }
}
.btnGroup{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .button{
        width: 180px;
        height: 40px;
        margin-right:10px;
    }
}
