.modalModule {
    margin: 20px 0;
    > span {
        width: 150px;
        display: inline-block;
        &:first-child {
            text-align: right;
        }
    }
}
.modalCommon {
    width: 300px;
}
