@import '~@/theme/common';
.searchCol {
    width: 320px;
}
.tips {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(90, 104, 118, 1);
    background: rgba(255, 246, 215, 1);
    padding: 0 10px;
}
.btn {
    color: @primaryColor!important;
    border-color: @primaryColor!important;
    font-size: @textFontGen!important;
}
.floatRight {
    margin-left: 10px;
    float: right !important;
}
.payDateBox {
    margin-bottom: 20px;
    .payDate {
        width: 230px;
        display: inline-block;
    }
}
.changePayInfoBox {
    margin-bottom: 20px;
    > span {
        display: inline-block;
        width: 100px;
        text-align: right;
        > i {
            color: #ff5363;
            font-style: normal;
            margin-right: 5px;
            display: inline-block;
        }
    }
    .changePayInfoTerm {
        width: 300px;
    }
}
