@import '~@/theme/common';

@smallSpace: 4px;
@normalSpace: 16px;
.view {
    :global(.ant-checkbox-wrapper) {
        min-width: 116px;
        margin-right: 10px;
        color: @textSupplyColor;
    }

    :global(.ant-select-selection) {
        height: 32px;
        overflow-y: auto;
    }

    .rowWrap {
        margin-bottom: 20px;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        &:last-child {
            margin-bottom: 0;
        }

        .colWrap {
            display: inline-block;
            vertical-align: middle;
            &._1 {
                width: 100%;
            }
            &._2 {
                width: 50%;
            }

            &._3 {
                width: 33.33%;
            }

            &._4 {
                width: 25%;
            }

            &._5 {
                width: 20%;
            }

            .colInner {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                .label {
                    color: @textPrimaryColor;
                    margin-right: 25px;
                    min-width: 66px;
                    text-align: right;
                }

                .itemWrap {
                    flex: 1;

                    .itemContent {
                        width: 100%;
                        margin-right: 20px;
                    }
                    .checkboxContainer {
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: -20px;
                    }
                    .checkbox {
                        margin-bottom: 20px;
                    }
                    .searchBtnWrap {
                        display: inline-block;

                        .searchBtn {
                            background: @primaryColor;
                        }
                    }
                }
            }
        }
    }
    .modalRowWrap {
        margin-bottom: 0px;
    }
}

.chooseAll {
    //padding: 5px 0;
    //display: block;
    //background-color: blue;
    //border-top: 1px solid red;
}
.formItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    :global .ant-form-item-control {
        line-height: 1.2;
    }
}
.timeStyle {
    max-width: 320px;
}
