//vars.less
@import "~antd/lib/style/themes/default.less";

@primary-color: #04B4AD;
@btn-primary-bg: #04B4AD;
:root {
    --primaryColor: @primary-color; //color.less中加入css原生变量：--PC
    --hoverColor: @primary-1;
    --operateColor: @primary-5;
}

//main.less
//可为空，只是为了不报错才引入
