.wrap {
    background: #f5f5f5;
    min-height: calc(100vh - 120px);
    .operateBtnCls {
        // text-align: right;
        .leftBtnCls {
            cursor: pointer;
            margin-right: 12px;
        }
        .rightBtnCls {
            cursor: pointer;
            margin-right: 12px;
        }
    }
    .cardHeader {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cardHeaderTitle{
            width: 100%;
            display: flex;
            align-items: center;
            margin-right: 10px;
            .title {
                display: block;
                color: #5a6876;
                margin-right: 6px;
            }
            .perCls {
                color: #8c97a3;
            }
            .description{
                color: #8c97a3;
                margin-left: 6px;
                cursor: pointer;
            }
        }
       
        .setting{
            cursor: pointer;
        }
    }
}
.addBtnCls {
    margin: 18px 0 12px;
    font-size: 14px;
    color: #8c97a3;
}
.liStyle {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}
