.btnCls {
    padding: 4px 0;
    color: #8C97A3;
}
.wrap {
    box-sizing: border-box;
    padding: 0 16px 16px 16px;
    min-width: 300px;
    min-height: 386px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    .title {
        height: 53px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #cbcfd36b;
        .titleName {
            color: #2c3f53ff;
            font-size: 16px;
        }
        .closeIcon {
            cursor: pointer;
            color: #8c97a3ff;
            font-size: 14px;
        }
        .closeIcon :hover {
            color: #2c3f53ff;
        }
    }
    .addWrap {
        width: 120px;
        display: flex;
        margin-top: 14px;
        align-items: center;
        cursor: pointer;
        .addIcon {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #5c99ff;
            font-size: 20px;
            border-radius: 50%;
            color: #fff;
            margin-right: 12px;
        }
        .addTitle {
            font-size: 14px;
            color: rgba(92, 153, 255, 1);
        }
    }
    .listView {
        list-style: none;
        max-height: 500px;
        overflow-y: scroll;
        .item {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .leftItem {
                display: flex;
                align-items: center;
                .itemIcon {
                    width: 30px;
                    margin-right: 5px;
                }
                .itemName {
                    font-size: 14px;
                    color: rgba(90, 104, 118, 1);
                    margin-right: 5px;
                }
                .itemOrgName {
                    color: rgba(183, 191, 200, 1);
                    margin-right: 5px;
                }
            }
            .rightItem {
                display: flex;
                align-items: center;
                .itemRoleName {
                    color: rgba(140, 151, 163, 1);
                }
            }
        }
    }
}
