@import '~@/theme/common';

.titleDes {
    margin-left: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: rgba(237, 241, 242, 1);
    color: #848f99ff;
    cursor: pointer;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
}
.download{
    color: @primaryColor;
    font-size: 12px;
}
.tooltip {
    :global {
        .ant-tooltip-arrow {
            border-color: #fff;
        }
        .ant-tooltip-inner {
            background: #fff;
            font-size: 12px;
            color: rgba(90, 104, 118, 1);
        }
        .ant-tooltip-arrow::before {
            background: #fff;
        }
    }
}
.btnGroup {
    float: right;
    display: inline-block;
    margin-right: 20px;
}
.btn {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    color: #5c99ffff;
    cursor: pointer;
}
