@import '~@/theme/common';

.liveContainer {
    cursor: default;
    font-size: @textFontGen;
    .totalNum {
        font-size: @textFontGen;
        color: @textPrimaryColor;
        user-select: all;
    }
}
