@import "../../../../../theme/common";

.tableCol {
    width: 100%;
}

.tipCls {
    font-size: 12px;
    color: @primaryColor;
    position: relative;
    top: -7px;
}

.btnWrap {
    width: 100%;
    text-align: right;

    .btn {
        margin-left: 10px;
        color: @primaryColor;
        border-color: @primaryColor;
        background: #fff;

        .addIconCls {
            font-size: 18px;
            margin-right: 6px;
        }
    }
}
