@import '~@/theme/common';
@import '~@/theme/detailPage';
.wrap {
    padding: 10px;
}
.detailTabBtnWrap {
    padding: 0;
}
.workInfo {
    margin-bottom: 40px;
    .workLine {
        margin-bottom: 20px;
        color: #5a6876;
        font-size: 14px;
        &:last-child {
            margin-bottom: 0;
        }
        .workBlock {
            display: block;
        }
    }
}
.workTable {
    margin-top: 40px;
}
.operateBtn {
    color: @primaryColor!important;
    cursor: pointer;
}
.moreLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tabBtn{
    width: auto !important;
    min-width: 120px;
}
