@import "../../../../../../theme/detailPage";

.btnActive{
  font-size:14px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:@primaryColor;
  cursor: pointer;
}

.btnCommon{
  font-size:14px;
  font-family:PingFangSC-Medium;
  font-weight:500;
}
.p20{
  padding: 0 20px;
}
