
.box{
    width: 100%;
    // border: 1px solid #333;
    border-radius:4px;
    border:1px solid rgba(225,225,225,1);
    a{
        color: currentColor;
    }
}


.progress{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    :global .ant-progress-text{
        width: auto;
        padding: 0 10px;
    }
}

.upload{
    margin-top: 0 !important;
}
