//全局color
@primaryColor: #04b4ad; //主题色  --关键行动点，操作状态、重要信息高亮，图形化等场
@supportColor: #04B4AD;
@textPrimaryColor: #2c3f53; //重要文字颜色 --用于重要级文字信息、内页标题信息(label)
@textGeneralColor: #5a6876; //普通文字颜色 --用于普通级段落信息、内标题信息(如详情段落标题信息)(value)
@textSupplyColor: #848f9b; //辅助文字颜色  --用于辅助、次要文字信息、普通按钮描边
@textHolderColor: #aeb4ba; //  --用于表格输入框文字提示、缺省图下方文案
@borderColor: #ececec; //  --分割线及边框颜色
@tableHoverBgColor: #f9fbff; //  --用于表格的选中底色
@disabledColor: #f9f9f9; //禁用颜色
@errorColor: #ff5363; //错误提示颜色
@hoverColor: #04b4ad; //鼠标悬停颜色
@operateColor: #04b4ad; //表格操作按钮颜色

//全局字号
@textFontLgX: 18px; //标题
@textFontLg: 16px; //小标题&需醒目区别的正文
@textFontGen: 14px; //正文
@textFontSm: 12px; //正文和辅助文字
//全局字重
@weightBlod: 800;
@weightSemiblod: 600;
@weightMedium: 500;
@weightRegular: 400;
@weightLight: 200;

//全局间距
@marginLgX: 24px;
@marginLg: 16px;
@marginGen: 12px;
@marginSm: 8px;
@marginSmX: 4px;
@paddingLgX: 24px;
@paddingLg: 16px;
@paddingGen: 12px;
@paddingSm: 8px;
@paddingSmX: 4px;

//全局圆角
@borderRadius: 4px;

//全局阴影
@boxShadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
