@import '~@/theme/common';
.exportContainer {
    margin: 0;
    float: none !important;

    .btn {
        display: flex;
        align-items: center;

        .icon {
            width: 12px;
        }

        .text {
            margin-left: @marginSmX;
            font-size: @textFontGen;
        }
    }
}
