@import "../../../../../theme/detailPage";
.tableExtra {
    margin-bottom: 20px;
    .tableHeadExtra {
        background-color: #f9f9f9;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ececec;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        height: 40px;
        padding: 0 10px;
        div {
            color: #2c3f53;
            span {
                font-weight: 500;
            }
        }
    }
}
.tableTerm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    li {
        margin-right: 20px;
    }
}

.searchCol {
    width: 250px;
    > .ant-input {
        border-radius: 4px !important;
    }
}

.suffixIcon {
    width: 12px;
    height: 12px;
    margin-top: -2px;
}
.btnCls {
    color: @primaryColor;
    cursor: pointer;
}
