@import '~@/theme/common';

.wrap {
    min-height: 32px;
    width: 500px;
    .item{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        .itemTitle{

        }
        .itemContainer{
            margin-left: 10px;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: flex-start;
        }
    }
    .addTagIcon{
        color: @primaryColor;
        cursor: pointer;
        margin-left: 10px;
    }
    .delTagIcon{
        color: #AEB4BAFF;
        cursor: pointer;
        margin-left: 10px;
    }
}