@import '~@/theme/common';
.container {
    display: flex;
    overflow: hidden;
    align-items: center;
    .historyCount {
        margin: @marginSmX;
        cursor: pointer;
        .countNo {
            color: @primaryColor;
        }
    }
    .addCls {
        width: 20px;
        text-align: center;
        cursor: pointer;
        .addIcon {
            //display: none;
            color: @primaryColor;
        }
    }
}
