@import "../../../../../../theme/detailPage";
.detailPage1{
  padding: 16px 20px;
}
.tit{
  font-size:16px;
  // font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(44,63,83,1);
  padding: 20px 0 8px;
  border-bottom: 1px solid #ECECEC;
}
.m20{
  margin: 20px 0;
}
.btn{
  font-size:14px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(92,153,255,1);
  cursor: pointer;
}
.item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  cursor: pointer;
  .itemSpan{
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(90,104,118,1);
    margin-left: 3px;
  }
}
.noData{
  display: inline-block;
  width: 80px;
}
.buttonCenter {
  text-align: center;
}
.row {
  display: flex;
  flex: 1;
  background-color: rgba(251,251,251,1);
  .listLeft {
    flex: 2;
    padding: 12px;
    text-align: center;
    align-self: center;
    background-color: rgba(251,251,251,1);
  }
  .listRight {
    flex: 8;
    text-align: left;
    padding: 12px 20px;
    background-color: #fff
  }
}
