.fileList {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.moreBtn {
    background: rgba(233, 238, 249, 1);
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    color: #8C97A3FF;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}

.img {
    cursor: pointer;
}
