@import "../config.less";

:global .BISelect {
  .ant-select-selection {
    border: 1px solid @base-border-color;
    border-radius: 2px;
  }
  .ant-select-selection--single:hover{
    //border-color: @base-green;
  }
  .ant-select-open .ant-select-selection:focus{
    //border-color: @base-green;
    //box-shadow: 0 0 0 2px rgba(84,146,255,.32);
  }
  .ant-select-selection:active{
    //border-color: @base-green;
    box-shadow: none;
  }
  .ant-select-open .ant-select-selection{
    //border-color: @base-green;
    box-shadow: none;
  }
  .ant-select-selection--multiple .ant-select-selection__choice {
    margin-right: 5px;
  }
  .ant-select-selection--multiple{
    padding-bottom: 3px;
  }

}
