@import '../../../../common';

.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    .itemBgTxt {
        position: absolute;
        z-index: -1;
        visibility: hidden;
    }
}
.text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.tooltip{
    max-height: 300px;
    overflow: auto;
}
.tooltipTitle {
    //min-width: 500px;
    max-height: 300px;
    overflow: auto;
    .more {
        margin-left: @marginGen;
        color: @primaryColor;
    }
}
