@import "../../../../theme/tableOperateBtn";
@import '~@/theme/common';
.tagStyle{
    border-radius:4px;
    font-size:14px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    padding: 2px 8px;
}
.tagStyle1{
    background:rgba(236,236,236,1);
    color:rgba(14,15,15,1);
}
.tagStyle2{
    background:rgba(255,208,205,1);
    color:rgba(150,37,29,1);
}
.tagStyle3{
    background:rgba(198,239,207,1);
    color:rgba(48,95,23,1);
}

.nameFlag{
    position: relative;
    .nameFlageInner{
        position: absolute;
        left: -36px;
        top: 2px;
        display: flex;
        width: 36px;
        justify-content: flex-end;
        .nameFlag1{
            font-size: 17px;
            cursor: pointer;
            margin-right: 3px;
        }
    }
}


.kpiTitle{
    display: flex;
    align-items: center;
    cursor: pointer;
    .kpiIcon{
        margin-left: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .kpiIcon1{
            position: relative;
            bottom: -2px;
            font-size: 12px;
            color: #848F9B;
        }
        .kpiIcon2{
            position: relative;
            top: -2px;
            font-size: 12px;
            color: #848F9B;
        }
        .sel{
            color: @primaryColor;
        }
    }
}

