.item{
    display: flex;
    margin-top: 20px;
    .itemSpan{
        width: 80px;
        flex-shrink: 0;
    }
    .itemSpan1{
        padding-top: 20px;
    }
    .itemDiv{
        flex-grow: 1;
        position: relative;
        .sel{
            width: 100%;
        }
        .words{
            position: absolute;
            right: 12px;
            bottom: 2px;
            color: #AEB4BA;
        }
    }
}
