.container {
    position: relative;
    top: 0;
    left: 0;
    .input {
        //padding-bottom: 18px;
    }

    .wordNumber {
        position: absolute;
        height: 20px;
        line-height: 20px;
        right: 12px;
        top: 50%;
        margin-top: -10px;
        color: #e1e1e1;
        font-size: 12px;
    }
}
