//全局布局
@secondSliderBg: #f8fafa; //二级菜单背景
@contentBg: #f5f5f5; //内容区背景
//全局color
@primaryColor: @primary-color; //主题色  --关键行动点，操作状态、重要信息高亮，图形化等场
@textPrimaryColor: #2c3f53; //重要文字颜色 --用于重要级文字信息、内页标题信息(label)
@textGeneralColor: #5a6876; //普通文字颜色 --用于普通级段落信息、内标题信息(如详情段落标题信息)(value)
@textSupplyColor: #848f9b; //辅助文字颜色  --用于辅助、次要文字信息、普通按钮描边
@textHolderColor: #aeb4ba; //  --用于表格输入框文字提示、缺省图下方文案
@borderColor: #ececec; //  --分割线及边框颜色
@tableHoverBgColor: #f9fbff; //  --用于表格的选中底色
@disabledColor: #f9f9f9; //禁用颜色
@errorColor: #ff5363; //错误提示颜色
@hoverColor: fade(@primary-color, 10); //鼠标悬停颜色
@operateColor: fade(@primary-color, 80); //表格操作按钮颜色
@timelineColor: fade(@primary-color, 20); //时间轴颜色

//全局background-color
@otherBgColor: #ff9430; //背景色
// 菜单颜色
@sliderWidth: 70px; //一级菜单宽度
@secondSliderWidth: 180px; //二级菜单宽度
@headerHeight: 60px; //三级标题菜单高度
//全局字号
@textFontLgX: 18px; //标题
@textFontLg: 16px; //小标题&需醒目区别的正文
@textFontGen: 14px; //正文
@textFontSm: 12px; //正文和辅助文字

//全局间距
@marginLgX: 24px;
@marginLg: 16px;
@marginGen: 10px;
@marginSm: 8px;
@marginSmX: 5px;
@paddingLgX: 24px;
@paddingLg: 16px;
@paddingGen: 10px;
@paddingSm: 8px;
@paddingSmX: 5px;

//全局圆角
@borderRadius: 4px;

// 小圆角 用于复选框等
@smallBorderRadius: 2px;
