.detailTableWrap {
  padding: 0 20px;
  :global(.ant-table-thead > tr > th) {
    text-align: center;
  }

  :global( .ant-table-tbody > tr > td) {
    text-align: center;
  }

  :global(.ant-table-thead > tr:first-child > th:last-child) {
    text-align: center;
  }

  :global(.ant-table-tbody > tr > td:last-child) {
    text-align: center;
  }
}
