@import 'common';

.headerBtn {
    min-width: 76px;
    height: 30px;
    margin-right: @marginGen;

    .editIcon {
        width: 16px;
        height: 16px;
        margin-right: 3px;
    }

    .editTitle {
        vertical-align: middle;
    }
}
