@import '~@/theme/common';
.wrap {
    width: 100%;
    min-height: 150px;
    .titleBox {
        .msgTitle {
            padding: 18px 35px;
            font-size: 16px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #2c3f53;
        }
        &::after {
            content: '';
            display: block;
            margin-top: 2px;
            width: 100%;
            height: 1px;
            background-color: #ececec;
        }
    }
}
