.wrap{
    background: #fff;
    padding: 0 20px;
    width: 280px;
    height: 160px;
    .titleWrap{
        height: 29px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #2C3F53;
        border-bottom: 1px solid #eee;
        .titleTxtCls{
           font-size: 16px;
        }
    }
    
    .contentWrap{
        min-height: 200px;
    }
    .footWrap{
        text-align: center
    }
}