.container {
    position: relative;
    top: 0;
    left: 0;

    .input {
        padding-right: 100px;
    }

    .wordNumber {
        position: absolute;
        color: #E1E1E1FF;
        font-size: 12px;
        right: 7px;
        top: 7px;
    }
}
