.commentBox{
    min-height: 130px;
    border:1px solid rgba(236,236,236,1);
   padding: 16px;
    background: #fff;
    .title{
        margin-top: 10px 20px 0 0;
        background: rgba(245,246,247,1);
        color: #8C97A3FF;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
    }
}