.formPanle{
}
.approvalStep{
  border-top: 1px solid #EAEAEA;
}
.footer{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    .btnCls:first-child{
        margin-right: 30px;
        width: 94px;
    }

}
.newLableCls{
    display: inline-block;
    line-height: 0;
    padding-top: 12px;
    .lineSpanCls{
      display: block;
      line-height: 16px;
    }
  }
:global .ant-form-item-required::before{
  vertical-align: top;
  position: relative;
  top: 14px;
}
#com_generalForm{
  :global .ant-calendar-range-picker-input{
    max-width: 124px;
  }
}