.projectContainer{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    .labelIcon{
        color:#8C97A3FF
    }
    .dropDownCls{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
        .timeIntervalFlagName{
            color: #8C97A3FF;
            padding-right: 37px;
        }
        .down{
            color:#848F9BFF
        }
    }
}
.item{
    padding-right: 30px;
}
