@import '../../../../theme/common';
@import "~@/theme/tableOperateBtn";
.searchCol,
.searchCls,
.selectTy {
    width: 320px !important;
}
.dateRangeCls {
    width: 230px !important;
}
.test {
    font-weight: 600;
}
.tips {
    flex: 1;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(90, 104, 118, 1);
    background: rgba(255, 246, 215, 1);
    padding: 0 10px;
    margin-right: 20px;
    min-width: 936px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    span {
        margin-right: 5px;
    }
}
.btn {
    color: @primaryColor!important;
    border-color: @primaryColor!important;
    font-size: @textFontGen!important;
}
.floatRight {
    margin-left: 10px;
    float: right !important;
}
:global(#search_view_projectInputContractWay .ant-checkbox-wrapper) {
    width: auto !important;
}
:global(#search_view_projectInputTransferNcStatus .ant-checkbox-wrapper) {
    width: auto !important;
}
:global(#search_view_projectInputThings .ant-checkbox-wrapper) {
    width: auto !important;
}
:global(.ant-table-fixed .ant-table-selection-column) {
    width: 30px !important;
}
.popoverWrap {
    span {
        margin-right: 6px;
    }
}
