.detailBox {
    padding-top: 15px;
    margin-bottom: 0;
    dt {
        margin-left: 20px;
        border-bottom: 1px solid #ececec;
        p {
            padding: 9px 0;
        }
    }
    dd {
        padding: 0 20px;
    }
}
.detailTitle {
    font-size: 16px;
    font-weight: 700;
    color: #2c3f53;
    line-height: 22px;
}
