@import "../../../theme/common";
.wrap{
    display: flex;
    background-color: #F9F9F9;
    .leftWrap{
        width: 270px;
        // min-height: 1000px;
        height: calc(100vh - 92px);
        padding: 20px 15px;
        margin-right: 20px;
        background: #fff;
      overflow: auto;
        .titleName{
            line-height: 27px;
            display: flex;
            justify-content: space-between;
            :global(.ant-btn){
                padding: 0 10px;
            }
            .addBtnCls{
                width: 76px;
                height: 27px;
            }
        }
        .menuList{
            margin-top: 20px;
            .secItem{
                color: #818C98;
                position: relative;
                cursor: pointer;
                .txt{
                    display: inline-block;
                    width: 155px;
                    line-height: 31px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .userIcon{
                    width: 14px;
                    height: 15px;
                    margin-right: 8px;
                }
                .moreIcon{
                    position: absolute;
                    right: -10px;
                    top: 11px;
                    height: 16px;
                    padding: 3px 7px;
                    cursor: pointer;
                }

            }
        }

    }
    .rightWrap{
        width: 100%;
        // min-height: 1000px;
        height: calc(100vh - 92px);
        overflow: auto;
        padding: 20px;
        background: #fff;
        .addUserBtnCls{
            display: flex;
            justify-content: flex-end
        }
    }
  .tableWrap{
    :global(.ant-table-placeholder) {
      border-bottom: none;
    }

    :global(.ant-table-thead > tr > th) {
      border-right: none;
      border-bottom: 1px solid #f6f6f8;
    }

    :global(.ant-table-tbody > tr > td) {
      border-right: none;
      border-bottom: 1px solid #f6f6f8;
    }
  }
}
.btnCls{
    color: #88B5FF;
    cursor: pointer;
}
.btnCls:not(:last-child){
    margin-right: 18px;
}

.modalCls{
    text-align: center;
    cursor: pointer;
    .operateItem:not(:last-child){
        margin-bottom: 10px;
    }
    .operateItem:hover {
        color: @primaryColor!important;
    }
}
:global(.ant-modal).modalAddCls{
    width: 778px!important;
    height: 598px;
    padding-bottom:0
}
.modalAddCls{
    :global(.ant-modal-body){
        height: 440px;
    }
    :global(.ant-modal-content){
        width: 778px;
        height: 558px;
    }
    :global(.ant-modal-footer){
       text-align: center;
    }

}

.contentCls{
    position: relative;
    width: 100%;
    height: 100%;
}
.modalBtnCls{
    width: 94px;
    height: 36px;
    border-radius: 20px!important;
    margin-right: 40px;
}

:global(.ant-modal-confirm-body .ant-modal-confirm-title){
    font-size: 14px;
    color: #333
}


.activeCls{
    color: @primaryColor!important;
}
