
.selfTag {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 4px;
    background: #E9EEF9;
    border: none;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #5A6876;
}
