.editTableWrap{
  width: 672px;
  .itemLine{
    display: flex;
    align-items: center;
    border: 1px solid #ECECEC;
    border-width: 1px 0 0 1px ;
    .inputCls{
      width: 120px;
    }
    span{
      display: inline-block;
      width: 224px;
      height: 40px;
      text-align: center;
      border: 1px solid #ECECEC;
      border-width: 0 1px 1px 0;
    }
  }
  .itemLine:first-child{
    background: #FCFCFC
  }
}
