.modalCla {
    :global .ant-modal-body {
        padding: 0;
    }
    :global .ant-modal-footer {
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 1);
    }
    .wrap {
        display: flex;
        flex-flow: row;
        height: 80vh;
        min-height: 700px;
    }
    .leftContainer {
        flex: 1;
        height: 100%;
        color: #5a6876ff;
        overflow: hidden;
    }
    .rightContainer {
        width: 40%;
        height: 100%;
        overflow: hidden;
    }
}
