@import '../../../../../../theme/detailPage';

.btnCls {
    color: @primaryColor;
    cursor: pointer;
}

.statusTit{
    display: flex;
    align-items: center;
    .statusTitSpan{
        font-size:14px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:400;
        color:rgba(90,104,118,1);
        padding-right: 20px;
    }
}

.statusIcon{
    width: 85px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background:rgba(68,215,182,0.1);
    border-radius:4px;
    border:1px solid rgba(68,215,182,1);
    font-size:14px;
    font-family:PingFangSC-Regular,PingFangSC;
    font-weight:400;
    color:rgba(68,215,182,1);
}
.statusIcon1{
    background:rgba(240,89,105,0.11);
    border:1px solid rgba(240,89,105,1);
    color:rgba(240,89,105,1);
}
.statusIcon2{
    background:rgba(148,163,174,0.1);
    border:1px solid rgba(148,163,174,1);
    color:rgba(148,163,174,1);
}
.statusIcon3{
    background:rgba(250,167,44,0.1);
    border:1px solid rgba(250,167,44,1);
    color:rgba(250,167,44,1);
}

.cardList{
    display: flex;
    margin-top: 20px;
}
.cardItem{
    width:324px;
    height:146px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(236,236,236,1);
    margin-right: 24px;
    .cardItemTit{
        font-size:15px;
        font-family:PingFangSC-Regular,PingFangSC;
        font-weight:500;
        color:rgba(90,104,118,1);
        padding-top: 17px;
        padding-left: 37px;
    }
    .cardItemCon{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 26px 0 37px;
        .cardItemConLeft{
            display: flex;
            align-items: baseline;
            span{
                font-size:40px;
                font-family:PingFangSC-Regular,PingFangSC;
                font-weight:500;
                color:rgba(44,63,83,1);
            }
            img{
                width: 20px;
                height: 20px;
                display: block;
                margin-left: 10px;
            }
        }
        .cardItemConRight {
            width: 130px;
            height: 68px;
            display: block;
        }
    }
}


.tableCon{
    margin-top: 20px;
    // width: 672px;
}
.newContent{
    padding: 0 20px;
    .itemCls{
        margin-bottom: 20px;
    }
}
