.taskTitle{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
   width: 100%;
    .title{
        max-width: 100%;
        font-size: 18px;
        color:#2C3F53;
        padding-left: 0;
        font-weight:500;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
            }
    .titleInput{
font-size: 18px;
color: #8C97A3FF;
padding-left: 0;
font-weight:500;
// border: none;
resize: none;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
cursor: pointer;
    }
    .finishStyle{
        text-decoration: line-through;
    }
}
.contentStyle{
    max-width: 400px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    color:  #2C3F53;
}