@import "~@/theme/common";

.wrap {
    position: relative;
    width: 580px;

    .titleCls {
        position: absolute;
        left: 26px;
        width: 520px;
        font-size: 16px;
        color: @textPrimaryColor;
        line-height: 62px;
        z-index: 10;
        background: #fff;
    }

    .formItemCls {
        padding: 0 45px 0 26px;
        max-height: 520px;
        min-height: 520px;
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: 1px solid #ECECEC;
        margin: 62px 0 68px;
        position: relative;

        :global(.ant-form-item-control) {
            line-height: 28px;
        }
        :global(.ant-form-item-required:before){
            position: initial;
            vertical-align: middle;
        }
        .titleContainer{
            vertical-align: middle;
            .colIcon{
                width: @textFontGen;
                color: @textSupplyColor;
            }
            .itemTitle{
                margin-left: @marginSm;
                color: @textPrimaryColor;
            }
        }

    }

    .itemCls {

    }

    .btnCls {
        width: 68px;
        margin-left: 10px;
    }

    .buttonWrap {
        position: absolute;
        bottom: 16px;
        right: 45px;

        .delBtnCls {
            color: @errorColor;
            position: relative;
            left: -303px
        }
    }
}
