@import '~@/theme/common';

.modalWrap {
    display: flex;
    height: 90vh;
    .formWrap {
        flex: 1;
        display: none;
    }
    .historyWrap {
        flex: 1;
        background: #fafafa;
    }
}
