.hoverBox{
    position: fixed;
    padding: 12px;
    width:200px ;
    min-height:32px ;
    display: none;
    background: #fff;
    z-index: 100;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  }