.titleWrap{
  display: flex;
  font-size: 16px;
  color: #2C3F53;
  font-family:'PingFangSC-Medium,PingFang SC';

  .showTipWrap:hover .tipCls{
    display: block;
  }
  .iconCls{
    margin: 0 12px 0 6px;
    width: 16px;
    cursor: pointer;
  }
  .tipCls{
    position: absolute;
    top: 14px;
    left: 123px;
    display: none;
    text-align: center;
    line-height: 37px;
    width:175px;
    height:37px;
    font-size:12px;
    font-family:'PingFangSC-Regular,PingFang SC';
    font-weight:400;
    color: #5A6876;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 6px 0px rgba(208,208,208,0.5);  
    border-radius:4px 0px 0px 0px; 
  }
}
.btnCls{
  margin-right: 20px;
}