@import "../config.less";

:global .BIDropdown {
  .ant-btn.ant-dropdown-trigger {
    line-height: 1.5;
  }
  .ant-btn.ant-dropdown-trigger:hover {
    //border: 1px solid @base-green;
    // box-shadow: 0 0 0 2px @base-green-shadow;
    //color: @base-color;
  }
  .ant-btn.ant-dropdown-trigger:focus{
    //border: 1px solid @base-green;
    //box-shadow: 0 0 0 2px @base-green-shadow;
    //color: @base-color;
  }
  .BIButton .ant-btn {
    border-radius:2px;
  }
  .ant-btn.ant-dropdown-trigger i.anticon {
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
  }
  .ant-menu-vertical > .ant-menu-item:not(:last-child){
    //border-bottom:1px solid #E4E7E7;
  }
  .ant-dropdown{
    //border: 1px solid #E4E7E7;
    //box-shadow: 0 5px 11px 0 #E4E4E4;
  }
}


