@import "../config.less";

:global .BIButton {
  display: inline-block;
    vertical-align: middle;
  .ant-btn {
    padding: 0 12px;
    //border-radius: 4px;
    //color: #848F9B;
  }
  .ant-btn-primary {
    //color: #fff;
    //background-color: @base-green;
    //border-color: @base-green;
    //-webkit-box-shadow: none;
    //box-shadow: none;
  }
    .ant-btn > .anticon + span, .ant-btn > span + .anticon{
        margin-left: 5px;
    }
}


