@import "~@/theme/detailPage";
@import "~@/theme/common";


.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    background: #f9f9f9;
    .wrapLeft{
        display: flex;
    }
    .wrapCenter{
        display: flex;
        align-items: center;
        justify-content: center;
        P{
            font-size: 18px;
            color: #2c3f53;
            padding: 0 6px;
        }
        .wrapCenterIcon{
            color: #2c3f53;
            font-size: 10px;
            cursor: pointer;
        }
    }
    .wrapRightRadio{
        margin: 0 10px;
    }
    .wrapLeftBtn{
        background:#fff;
        color:@primaryColor;
        border: 1px solid @primaryColor;
        margin-right: 10px;

    }
    .wrapRightBtn{
        background:rgba(132,143,155,1);
        color:rgba(255,255,255,1);
    }
    .wrapLeftDate{
        margin-left: 10px;
    }
}
.liStyle{
    color:rgba(255,255,255,1);
    font-size:14px;
    padding: 5px;
    cursor: pointer;
}

.tipsItem{
    display: flex;
    span {
        flex-shrink: 0;
        font-size:14px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(39,55,70,1);
        width: 70px;
    }
    p {
        min-width: 145px;
        font-size:14px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(140,151,163,1);
    }
}
.tipsItem2{
    margin: 5px 0;
}
