.metting{
  position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #5A6876FF;
    .meetingName{ 
    }
    .downIcon{
      margin-left: 6px;
      color:#848F9BFF
    }
    .clearIcon{
      display: none;
      position: absolute;
      right: 0;
      margin-left: 6px;
      z-index: 1111;
      background: #fff;
      color:#848F9BFF
      // display: none;
    }
}
.meetingPage{
  margin-left: 10px;
}
.metting:hover .clearIcon{
display: block;
}
