.tableCol {
  width: 100%;
}

.tipCls {
  color: #F06972;
  text-align: right;
  font-size: 10px;
  height: 0;
  line-height: 1;
}

.btnCls {
  color: #88B5FF;
}

.btnCls:not(:last-child) {
  margin-right: 8px;
}
