@import '~@/theme/common';
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cellDetail {
        flex: 1;
        overflow: hidden;
    }
    .icon {
        width: 30px;
    }
}
