@import '~@/theme/common';
.editFormModal {
    :global(.ant-modal-body) {
        padding: 0;
    }
    :global(.ant-modal-close) {
        right: -20px;
        top: -24px;
    }
    :global(.ant-modal-close-x) {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    :global(.ant-modal-close-x > .ant-modal-close-icon) {
        width: 22px;
        height: 22px;
        padding: 4.5px;
        border-radius: 50%;
        color: white;
        font-size: 12px;
        background: @textGeneralColor;
        opacity: 0.7;
        transition: opacity linear 0.1s;
        &:hover {
            opacity: 0.9;
        }
    }
}
