@import "../config.less";

:global .BIModal {
  .ant-modal-footer {
    text-align: center;
  }
}


:global .BIModalWrap {
  .ant-modal-footer {
    text-align: center;
    border-top: none
  }
}


:global .BIConfirm {
  .ant-btn {
    padding: 0 12px;
    border-radius: 2px;
  }
  .ant-btn-primary {
    color: #fff;
    //background-color: @base-green;
    //border-color: @base-green;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}






