.tagWrap {
    position: relative;
    display: flex;
    align-items: center;
    .addTagIcon {
        position: absolute;
        right: 0;
        top: -25px;
        color: #848f9b;
    }
}
.tagModal {
    // position: absolute;
    // right: 0;
    // bottom: -290px;
    // z-index: 30;
}
