.projectContainer{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    .projectName{
        max-width: 50px;
        overflow: hidden;
        text-overflow:ellipsis;
         white-space: nowrap;
         color:#2C3F53FF
        //  cursor: pointer;
    }
    .line{
        color: #8C97A3FF;
        margin: 0 5px;
    }
    .panelName{
        max-width: 50px;
        overflow: hidden;
        text-overflow:ellipsis;
         white-space: nowrap;
         color: #8C97A3FF;
        //  cursor: pointer;
    }
//     .disabledPanelName{
// cursor: not-allowed;
//     }


}