@import '~@/theme/common';
.btnCls {
    color: @primaryColor!important;
    border-color: @primaryColor!important;
    font-size: @textFontGen!important;
    margin-left: 8px;
    cursor: pointer;
}
.searchCol {
    width: 320px;
}
