.mamageContainer {
    border-top: 9px solid #F6F6F6;
    padding: 17px; 
    max-height: 650px; 
    overflow-y: scroll;
    .manageTitle {
        font-size:14px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(44,63,83,1);
        line-height:20px;
    }
    .seletedUl {
        margin-top: 12px;
        display: flex;
        .seletedItem {
            margin: 10px 6px;
            text-align: center;
            cursor: pointer;
            .menuName {
                font-size:14px;
                font-family:PingFangSC-Regular,PingFang SC;
                font-weight:400;
                color:rgba(140,151,163,1);
                line-height:20px;
            }
            .seltedIcon {
                position: relative;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 auto;
                .seletedDelte {
                    position: absolute;
                    top: -7px;
                    right: -10px;
                    width:10px;
                    height:10px;
                    border-radius: 5px;
                }
            }
            div {
                width: 85px;
                font-size:14px;
                margin-top: 7px;
                font-family:PingFangSC-Regular,PingFang SC;
                font-weight:400;
                color:rgba(140,151,163,1);
                line-height:20px;
            }
        }
    }
    
}
