@import "../../../../../../../theme/detailPage";
.detailPage1{
  padding: 0 20px;
}
.tit{
  font-size:16px;
  // font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(44,63,83,1);
  padding: 20px 0 8px;
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 20px;
}
.m20{
  margin: 20px 0;
}
.btn{
  font-size:14px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:@primaryColor;
  cursor: pointer;
  padding: 0 4px;
}

.btnPag{
  display: flex;
  justify-content: flex-end;
}
.btn1 {
  margin-top: 20px;
  color: @primaryColor;
  border-color: @primaryColor;
  background: #fff;

  .addIconCls {
    font-size: 18px;
    margin-right: 6px;
  }
}
