.container{
    position: relative;
    top:0;
    left: 0;
    .input{
        padding-bottom: 18px;
    }
    textarea{
        padding-bottom: 18px;
    }
.wordNumber{
    position: absolute;
    right:12px;
    bottom: -3px;
    color:#E1E1E1FF;
    font-size: 12px;
}
}
