@import "../../../../../../../theme/common";

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    background: #f9f9f9;

    .wrapLeft {
        display: flex;
    }

    .wrapCenter {
        font-size: 18px;
        color: @textPrimaryColor;
    }

    .wrapRightRadio {
        margin: 0 10px;
    }

    .wrapLeftBtn {
        background: #fff;
        color: @primaryColor;
        border: 1px solid @primaryColor;
        margin-right: 10px;

    }

    .wrapRightBtn {
        background: rgba(132, 143, 155, 1);
        color: rgba(255, 255, 255, 1);
    }

    .wrapLeftDate {
        margin-left: 10px;
    }
}

.liStyle {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.tipsWrap {
    width: 20px;
    height: 20px;
    background: #000;
}

.tipsStyle {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;
}
