@import "../../../../theme/common";
.optionsModal{
    width: 357px;
    padding-top: 10px;
}
.optionItem {
    display: flex;
    align-items: center;
    margin: 0 15px 10px 15px;

    .optionLeft {
        width: 60px;
    }

    .optionMid {
        width: 136px;
        margin-left: 20px;
    }

    .optionRight {
        margin-left: 20px;
    }

    .optionDel {
        margin-left: 15px;
        width: 20px;
        cursor: pointer;
        text-align: center;

        .delIcon {
            width: 10px;
            height: 11px;
        }
    }
}

.btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;

    .btn {
        text-align: center;
        cursor: pointer;
        color: @primaryColor;
        margin-left: 10px;
    }
}
