.wrap{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: row;
    .list{
        position: relative;
       flex: 1;
       .listWrap{
           box-sizing: border-box;
           padding: 16px;
        position: relative;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        .split{

        }
        .listView{
            box-sizing: border-box;
            height:calc(100vh - 92px);
            max-width: calc(100vw - 400px);
            min-width: 500px;
            background: #fff;
            border-radius:6px;
            padding: 16px;
            display: flex;
            flex-flow: column;
            .listViewContainer{
                flex: 1;
                overflow: auto;
            }
        }
       }
    }
}
.spin{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

