.container{
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    .settingBox{
        span{
            font-size:14px;
            font-weight:400;
            color:rgba(92,153,255,1);
            cursor: pointer;
            margin-right: 10px;
        }
    }
}