

.treeHeight{
    height: 350px;
    overflow: auto;
}
.viewTit{
    color: #2C3F53;
}
.viewUser{
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2C3F53;
}

.rangeUser{
    border-top: 1px solid #ECECEC;
    padding-top: 10px;
    color: #2C3F53;
}

:global .selStyle {
    .ant-select{
        width: 120px;
        .ant-select-selection-selected-value{
            color: #2C3F53;
            font-size: 14px;
        }
    }
    .ant-select-selection-selected-value{
        float: right;
    }
    .ant-select-selection {
      border-color: transparent;
    }
    .ant-select-selection--single:hover{
      border-color: transparent;
      box-shadow: none;
    }
    .ant-select-selection-selected-value:focus{
        border-color: transparent;
        box-shadow: none;
      }
    .ant-select .ant-select-selection:focus{
      border-color: transparent;
      box-shadow: none;
    }
    .ant-select-selection:active{
      border-color: transparent;
      box-shadow: none;
    }
    .ant-select .ant-select-selection{
      border-color: transparent;
      box-shadow: none;
    }
  }
