@import "../config.less";

:global .BITag {
    display: flex;
    align-items: center;
    max-width: 100%;

    .ant-tag {
        background: #E9EEF9;
        border: none;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        color: #5A6876;
    }
}


