.taskTitle{
    position: relative;
    top:0;
    left: 0;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    flex: 1;
    min-width: 478px;
    .textArea{
padding-bottom: 18px;
height: 197px;
    }
}
.wordNumber{
    position: absolute;
    left: 1px;
    bottom: 1px;
    right: 0px;
    color: #E1E1E1FF;
    font-size: 12px;
    width: calc(100% - 10px);
    background: #fff;
    text-align: right;
    box-sizing: border-box;
}