@import '../../../../../theme/detailPage';
.btnUpload {
    cursor: pointer;
    color: @primaryColor;
    display: inline-block;
    margin-top: 15px;
    text-decoration: underline;
}
.must {
    color: #e17175;
    font-style: normal;
    display: inline-block;
    margin-right: 5px;
}
