.checkboxGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.ageInput {
  width: 100px;
  height: 24px;
  font-size: 12px;
}

.line {
  display: inline-block;
  width: 10px;
  margin: 0 5px;
  text-align: center;
}
