@import '../../../../../theme/detailPage';
.detailTableWrap {
    padding: 20px;
}
.principal {
    margin-bottom: 20px;
    span {
        display: inline-block;
        width: 25%;
        i {
            font-style: normal;
            color: #5a6876;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
