.formFooter{
    width: 100%;
    display: flex;
    flex-flow:row;
    align-items: baseline;
    .chooseItem{
       flex: 1;
    }
    .buttonGroup{
        width: 160px;
        height: 32px;
        text-align: right;
        .resertButton{
            margin-left:10px;
        }
    }
    }
