@import '../../../../../../theme/detailPage';

.btnActive {
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: @primaryColor;
    cursor: pointer;
}

.btnCommon {
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
}
.p20 {
    padding: 0 20px;
}
.tagRepeal {
    background-color: #d9dde1;
    border: 1px solid #f1f1f1;
    color: #8c97a3;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 4px;
}
