.move{
    .moveTitle{}
    .moveSel{
        margin-top: 20px;
        display: flex;
        align-items: center;
        .moveSelLabel{
            display: block;
            flex-shrink: 0;
            width: 50px;
        }
    }
}
