@import '~@/theme/common';
.content {
    display: flex;
    align-items: center;
    .label {
        width: 60px;
        text-align: right;
        margin-right: @marginGen;
    }
    .input {
        width: 100%;
        flex: 1;
    }
}
